html{
  scroll-behavior: smooth;
}

body{
  -webkit-user-select: none; 
  -ms-user-select: none; 
  user-select: none; 
}

#section1{
  animation: transitionIn 0.75s;

}

#section2{
  animation: transitionIn 0.75s;
  
}
#section3{
  animation: transitionIn 0.75s;
  
}
#section4{
  animation: transitionIn 0.75s;
  
}
#section5{
  animation: transitionIn 0.75s;
  
}


@keyframes transitionIn{
  from{
    opacity: 0;
    transform:translateY(-10px);
} 
to{
    opacity: 1;
    transform: translateY(0);
}
}

#hadding{
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
    
}
.box{
  max-width: 310px;
  max-height: 310px;
  padding: 2rem;
  position: relative;
  background: linear-gradient(to right, red, blue);
  padding: 3px;
  overflow: hidden;
  border-radius: 50%;
}
.image{
    border-radius: 50%;
}

.edu{
  text-align: center;
  font-size: 30;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  color: rgb(226, 226, 226);
  /* padding: 30px; */
  margin-bottom: 90px;

}
/* .para{
  font-size: 76.4%;
  margin: auto;
} */
.para2{
  font-size: 80%;

}

#hadding {
  width: 8ch;
  animation: typing 2s steps(15), blink .5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
  font-size: 2em;
}

@keyframes typing {
  from {
    width: 0
  }
}
    
@keyframes blink {
  50% {
    border-color: transparent
  }
}


